name: Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: Unit Tests

    runs-on: ubuntu-24.04

    strategy:
      matrix:
        include:
          - php-version: '8.2'
            composer-options: '--prefer-stable'
            symfony-version: '6.3'
          - php-version: '8.2'
            composer-options: '--prefer-stable'
            symfony-version: '^6.4'

          - php-version: '8.2'
            composer-options: '--prefer-stable'
            symfony-version: '^7.0'

    steps:
      - name: 'Check out'
        uses: 'actions/checkout@v2'

      - name: 'Set up PHP'
        uses: 'shivammathur/setup-php@v2'
        with:
          php-version: '${{ matrix.php-version }}'
          coverage: 'none'

      - name: 'Get Composer cache directory'
        id: 'composer-cache'
        run: 'echo "::set-output name=cache-dir::$(composer config cache-files-dir)"'

      - name: 'Cache dependencies'
        uses: 'actions/cache@v2'
        with:
          path: '${{ steps.composer-cache.outputs.cache-dir }}'
          key: "php-${{ matrix.php-version }}-composer-locked-${{ hashFiles('composer.lock') }}"
          restore-keys: 'php-${{ matrix.php-version }}-composer-locked-'

      - name: 'Install dependencies'
        env:
          COMPOSER_OPTIONS: '${{ matrix.composer-options }}'
          SYMFONY_REQUIRE: '${{ matrix.symfony-version }}'
        run: |
          composer global config --no-plugins allow-plugins.symfony/flex true
          composer global require --no-progress --no-scripts --no-plugins symfony/flex
          composer update --no-progress $COMPOSER_OPTIONS

      - name: 'Install PHPUnit'
        run: 'vendor/bin/simple-phpunit install'

      - name: 'Run tests'
        run: |
          vendor/bin/simple-phpunit
